extends ../layout/layout.pug
block content
    div(class="container")
        div(class="row")
            div(class="col-sm-3")
            div(class="col-sm-6 text-center mb-5")
                h1(class="text-danger") Products
                h5
                    a(href="/users/create") Add Product
                form(action="/products/search" method="GET" class="form-group d-flex")
                    input(type="text", name="q" class="form-control")
                    button(type="submit" class="btn btn-primary") search
            div.mt-10(class="col-sm-12")
                .row
                    .card-group
                        each pro in products
                            .col-sm-3
                                .card
                                    img.card-img-top(src=pro.image, alt='...')
                                    .card-body
                                    a(href="/products/"+ pro.id)
                                            h5.card-title=pro.name
                                    p.card-text=pro.description
                                    p.card-text
                                        a.btn.btn-primary(href='#') Go somewhere