extends ./layout/layout.pug
block content
    ul(class="list-group")
        li(class="list-group-item d-flex justify-content-between align-items-center")
            a(href="/users") listUser
            span(class="badge bg-primary rounded-pill") 20
        li(class="list-group-item d-flex justify-content-between align-items-center")
            a(href="/products") listProduct
            span(class="badge bg-primary rounded-pill") 20                